fastapi==0.115.*
uvicorn==0.34.*
langchain==0.3.*
langchain-groq==0.3.*
langchain-community==0.3.*
beautifulsoup4==4.13.*
requests==2.32.*
python-dotenv==1.1.*
groq==0.18.*
sentence-transformers==3.*
langchain-chroma>=0.1.4
langchain-huggingface>=0.1.0
